* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts//HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueCyr-Regular.woff2") format("woff2"), url("../fonts//HelveticaNeueCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts//HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts//HelveticaNeueCyr-Bold.woff.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;

}

body {
  font-family: "Helvetica Neue";
  color: #333333;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --color-white: #ffffff;
  --color-brand-blue: #007DFE;
  --color-brand-dark-blue: #0A2756;
}


.container {
  width: 100%;
  max-width: 1240px;
  /* padding: 0 75px; */
  margin: 0 auto;
}


.flex {
  display: flex;

}

/*burger*/

/*burger-menu*/
.nav__burger-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 60px 40px 180px 30px;
  left: 0;
  right: 0;
  top: 0;
  /* height: 433px; */
  width: 100%;
  z-index: 5;
  background: white;
  transition: transform 0.5s linear;
  transform: translateY(-100%);
}

.nav__burger-menu-active {
  transform: none;
}

.nav__burger-menu-button {
  display: none;
  height: 45px;
  width: 45px;
  padding: 0 0px 0 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__burger-menu-link {
  color: var(--color-brand-dark-blue);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav__burger-menu-list {
  margin-top: 5px;
  margin-bottom: 90px;
  text-align: center;
}



.nav__burger-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.nav__burger-menu {
  display: block;
}

.nav__button-burger {
  position: absolute;
  right: 5%;
  background-color: transparent;
  border: none;
}

.block-icon__burger {
  text-align: center;
}

.button-registration__burger {
  margin-top: 20px;
  border: 2.662px solid #007DFE;
  padding: 9px 45px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/**/

/*header-container*/
.header-container {

  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 100px;
}


.header-link {
  margin-right: 40px;
  color: #0A2756;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.container__nav {
  align-items: center;
}

.button {
  background-color: white;
  color: var(--color-brand-blue);

}
/**/
.button-registration {
  padding: 8px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid var(--color-brand-blue);

}

.mail-icon,
.fb-icon {
  background-color: transparent;
  border: none;
}

/*hero-container*/
.hero-container {
  margin-bottom: 50px;
  padding-bottom: 86px;
  padding-top: 60px;
  background-color: var(--color-brand-dark-blue);
}

.hero-container__left {
  margin-right: 6%;
  flex-direction: column;
}

.img-affiche {
  margin-bottom: 65px;
}

.hero-container__right {
  margin-right: 2%;
}

.hero-container__affiche {
  margin-left: 14%;
  max-width: 1044px;
  justify-content: space-between;
}

.button__affiche {
  margin-left: 40px;
  margin-bottom: 48px;
  padding: 25px 13px;
  border-color: var(--color-brand-blue);
  background: var(--color-brand-blue);
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 9.38px;
  text-transform: uppercase;
}

.hero-container__descr {
  margin-left: 18%;
  max-width: 521px;
}

.title {
  color: white;
  font-style: normal;
  font-family: Helvetica Neue;
}

.hero-container__descr-title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  /* 26px */
}

.hero-container__descr-subtitle {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
}

.hero-container__button-hide {
  text-align: center;
}

/*speakers*/
.speakers-container {
  padding: 0 220px;
  padding-bottom: 500px;
}

.title-h2 {
  color: #0A2756;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  /* 84px */
}

/*swiper*/
.swiper-slide__descr-name {
  margin-bottom: 10px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.swiper-slide__descr-office {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.slider-content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.slider-box {

  position: relative;
  width: 800px;
}


.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-direction: column-reverse;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 346px;
  background:  lightgray 50% ;
  background-image: url(../img/speakers.jpg);
}

.swiper-slide__descr-block {
  padding: 25px 29px;
  background: rgba(0, 128, 255, 0.70);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-top: 50px;
  bottom: auto;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 16px);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, -75px);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {

  left: var(--swiper-navigation-sides-offset, -75px);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-brand-dark-blue);
  margin-top: 20%;
}

/*footer*/
.footer-container {
  padding: 140px 220px;
  background-color: var(--color-brand-dark-blue);
  color: rgba(0, 0, 0, 0.50);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */


}

.footer-form__container {
  margin-bottom: 28px;
}

.title-h3 {
  margin-bottom: 62px;
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  /* 84px */
}

/*form*/

.form-container__up {
  justify-content: space-between;
  margin-bottom: 26px;
}

.input-search,
.input-email {
  padding: 11px 20px;
  width: calc(50% - 13px)
}

.input-text {
  padding: 14px 20px 82px 20px;
  width: 100%;
}

.button-form {
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  padding: 25px 14px;
  background: var(--color-brand-blue);
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 9.38px;
  text-transform: uppercase;
}

.footer-container__aside {

  flex-direction: column;
  text-align: center;
}

.aside-mail,
.aside-tel,
.aside-terms {
  color: #FFF;
  line-height: 140%;
  font-style: normal;
  font-weight: 300;
}

.aside-mail {
  font-size: 40px;
}

.aside-tel {
  font-size: 32px;
}

.aside-terms {
  font-size: 18px;
  text-decoration-line: underline;
}

@media(max-width: 1065px) {

  /**/
  .nav__burger-menu-button {
    display: inline;
  }

  .container__nav,
  .block-icon,
  .grey-line {
    display: none;
  }

  /*hero*/
  .hero-container__affiche {
    margin-left: 25px;
  }

  .button__affiche {
    margin-left: 45px;
  }

  .hero-container__descr {
    margin-left: 70px;
  }

  /*speakers*/
  .speakers-container {
    padding: 0 90px 500px 90px;
  }

  /*footer*/
  .footer-container {
    padding: 100px 70px 90px 70px;
  }
}

@media(max-width: 768px) {

  .hero-container__right {
    margin-right: 10%;
  }

  .slider-box {
    width: 350px;
  }

  .swiper-slide {
    height: 311.691px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin-top: 40%;
  }


  /*footer*/
  .title-h3 {
    font-size: 50px;
  }
  .title-h2 {
    font-size: 50px;
  }
}


@media(max-width: 700px) {
  .hero-container__affiche {
    flex-direction: column;
  }
  .speakers-container {
    padding: 0 70px 500px 70px;
  }

  .hero-container__right {
    padding: 0 40px;
    text-align: center;
    margin-right: 0;
  }

  /*footer*/

}

@media(max-width:600px) {
  .header-container {
    padding: 0 20px;
  }

  /*burger*/

  .nav__burger-menu-list {
    margin-top: 50px;

  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
  .nav__burger-menu {
    padding: 40px 20px;
  }

  .hero-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .speakers-container {
    padding: 0 20px 500px 20px;
}


  /*swiper*/
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
  }

  .slider-box {
    width: 280px;
  }

  .swiper-slide {
    height: 296px;
  }



  .hero-container__descr {
    margin: 0;
  }

  .button__affiche {
    margin-left: 0;
    font-size: 14px;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 4.2px;
  }




  .form-container__up {
    margin-bottom: 0;
    flex-direction: column;

  }

  .input-search,
  .input-email {
    margin-bottom: 26px;
    width: 100%;
  }

  .footer-container {
    padding: 75px 20px 90px 20px;
  }

  .button-form {
    letter-spacing: 4.2px;

  }

  .aside-mail {
    font-size: 28px;
  }

  .aside-tel {
    font-size: 22px;
  }

  .aside-terms {
    font-size: 18px;
    text-decoration-line: underline;
  }
}

@media(max-width:360px) {

  /*hero*/
  .hero-container__affiche {
    margin-left: 0;
  }

  .hero-container__left {
    margin-left: 0;
    margin-right: 0;
  }

  .button__affiche {
    letter-spacing: 4.2px;
  }

  /*burger*/
  .nav__burger-menu-link {
    font-size: 22px;
  }

  .button-registration__burger {
    font-size: 22px;
  }

  /*footer*/
  .footer-form__container {
    margin-bottom: 138px;
  }

  .title-h3,
  .title-h2 {
    font-size: 40px;
  }

  .button-form {
    width: 100%;
    margin-left: 0;
  }
}
